{% extends 'base.html' %}
{% load static %}

{% block title %}- Contactos{% endblock title %}


{% block content %}
<body>
    <h2 style="text-align: left; margin-left: 8px;">Visión</h2>

   <h3 style="text-align: left; margin-left: 8px;"> Antes de 2022, ser reconocidos nacionalmente como la mejor solución en cumplimiento, acompañamiento y servicio al cliente, siendo una empresa innovadora en tableros eléctricos, subestaciones y servicio de mantenimiento, enfocada en las necesidades de nuestros clientes.
</h3>
    <hr>
    <h2 style="text-align: left; margin-left: 8px;"> MISIÓN
</h2>
<h3 style="text-align: left; margin-left: 8px;"> Somos una empresa colombiana enfocada en diseño y manufactura de subestaciones y tableros eléctricos, especialistas en servicio de mantenimiento, brindando soluciones integrales a nuestros clientes.
</h3>
<hr>
<h2 style="text-align: left; margin-left: 8px;"> GESTIÓN AMBIENTAL
</h2>
<h3 style="text-align: left; margin-left: 8px;">Enfocada en promover la conciencia ambiental hacia la prevención de la contaminación como elemento de cultura organizacional, Metalandes S.A.S controla aspectos ambientales como uso y consumo de agua, consumo energía y generación de residuos a través de acciones de prevención y mitigación de impactos, campañas de sensibilización y el mejoramiento continúo del desempeño ambiental de la Organización.

    Las metas ambientales están encaminadas a una producción y consumo sostenible de recursos como agua y energía, así como el manejo adecuado de los residuos generados.</h3>

<h2 style="text-align: left; margin-left: 8px;">SEGURIDAD Y SALUD EN EL TRABAJO</h2>
<h3 style="text-align: left; margin-left: 8px;">
    Metalandes está comprometida con la promoción de la calidad de vida laboral de su equipo de trabajo, reconociendo en ella un pilar fundamental para la entrega de un excelente servicio y/o bien esperado por nuestros clientes. La organización garantiza la práctica y el cumplimiento de normas de seguridad y salud en el trabajo propias y de nuestros contratantes como elemento para asegurar la integridad de nuestros trabajadores y la de terceros.
</h3>

</body>


{% endblock content %}