{% extends 'base.html' %}
{% load static %}

{% block title %}- Contactos{% endblock title %}


{% block content %}
<body>
    <br>
<br>
<br>
<br>
    <h1 class="titulo">CONTACTOS</h1>
<br>
    <h1>Dirección:urbanización la martina villa b5-15 Durán /Ecuador</h1>
    <br>
    <h1>Tel: 593 (04) 203 7318</h1>
    
    <h1>     593 96 293 0533</h1>
    
    <h1>     593 99 85 70 111</h1>
    <br>
    <h1>En caso de nesesitar productos para otra reguion porfevor diriguirse a: </h1>
    <a class="enlace" href="https://proelectrico.com/es_ES/">https://proelectrico.com/es_ES/</a>
    <br><br><br><br><br><br>
    

</body>


{% endblock content %}