{% extends 'base.html' %}
{% load static %}

{% block title %}{{ prod.nombre }}{% endblock title %}


{% block content %}


<div class="grid">
    <div>
        <img height="250" src="{{ prod.imagen.url }}" alt="{{ prod.nombre }}">

        <h2> {{ prod.nombre }}</h2>
        <hr>
        <h2>{{ prod.precio}}$</h2>
      
    </div>
    <div>
        <h3>{{ prod.descripcion }}</h3>
        <br>
        <h3>Categoria:</h3><a href="{% url 'categoria' prod.categoria.id %}"><h3 class="enlace"> {{ prod.categoria }}</h3></a>
        <br>
        <a href="{% url 'compra' prod.id %}">
            <div style="text-align:center">
                <button class="bt1">Comprar</button>
            </div>
        </a>
    </div>
  </div>
  


{% endblock content %}