{% extends 'base.html' %}


{% block title %}tienda{% endblock title %}


{% block content %}
{% if prod%}
{% for produ in prod %}
{% if forloop.first%}<div class="row">{% endif %}
    <div class="col-3">
        <div class="card">
            <img class="card-img-top" height="180" src="{{ produ.imagen.url }}" alt="{{ produ.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ produ.nombre }}</h5>
                <hr>
                <h6 class="card-subtitle">{{ produ.precio}}</h6>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:5 %}
</div>
</div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endif %}
{% endblock content %}