{% extends 'base.html' %}
{% load static %}

{% block title %}- Tienda{% endblock title %}


{% block content %}
{% if prod%}

<div class="container__grid">
    <div>
    </div>
    <div>
        <h3>CATEGORIAS</h3>
        {% for ca in cat %}
        <a href="/categoria/{{ ca.id }}">{{ ca.nombre }}</a>
        <br>
        {% endfor %}



      
    </div>
    <div>
        
    </div>
    <div>
{% for produ in prod %}
    {% if forloop.first%}<div class="row">{% endif %}
        <div class="col-3">
            <a href="/producto/{{ produ.id }}">
                <div class="card">
                    <img class="card-img-top" height="180" src="{{ produ.imagen.url }}" alt="{{ produ.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ produ.nombre }}</h5>
                        <hr>
                        <h6 class="card-subtitle">{{ produ.precio}}$</h6>
                    </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
    {% endif %}
    {% if forloop.last %}
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% else %}

<h2>NO AHI PRODUCTOS</h2>


{% endif %}




{% endblock content %}